<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>doctorRegistration</servlet-name>
        <servlet-class>mainPackage.doctorRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorLogin</servlet-name>
        <servlet-class>mainPackage.doctorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientLogin</servlet-name>
        <servlet-class>mainPackage.patientLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientRegistration</servlet-name>
        <servlet-class>mainPackage.patientRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>mainPackage.adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPatientPrediction</servlet-name>
        <servlet-class>mainPackage.addPatientPrediction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReport</servlet-name>
        <servlet-class>mainPackage.GenerateReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doctorRegistration</servlet-name>
        <url-pattern>/doctorRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorLogin</servlet-name>
        <url-pattern>/doctorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientLogin</servlet-name>
        <url-pattern>/patientLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientRegistration</servlet-name>
        <url-pattern>/patientRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPatientPrediction</servlet-name>
        <url-pattern>/addPatientPrediction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReport</servlet-name>
        <url-pattern>/GenerateReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
